@import url('https://fonts.googleapis.com/css2?family=Roboto+Slab:wght@100;200;300;400;500;600;700;800&display=swap');

*{
    font-family: "Roboto Slab", serif;
    font-weight: 450;
    margin: 0;
    padding: 0;
}

::-webkit-scrollbar {
    width: 10px;
}

::-webkit-scrollbar-track {
    -webkit-box-shadow: 5px 5px 5px -5px rgba(34, 60, 80, 0.2) inset;
    background-color: #2d2d2d;
}

::-webkit-scrollbar-thumb {
    background-color: #737373;
    background-image: -webkit-gradient(linear, 0 0, 0 100%,
    color-stop(.5, rgba(255, 255, 255, .25)),
    color-stop(.5, transparent), to(transparent));
}



body{
    background: #cccccc url("../img/1241qwddaw.jpg") no-repeat fixed center;
    background-size: cover;
}

.back-arrow-body{
    height: 64px;
    width: 64px;
    position: fixed;
    z-index: 2;
    padding: 5px;
}

.back-arrow-body img{
    height: 100%;
    width: 100%;
}

header{
    width: 100%;
    background: #2d2d2d;
    display: flex;
    justify-content: space-evenly;
}

.header-logo{
    font-size: 15pt;
    height: 100%;
    padding: 15px 20px;
}

#h2-txt-we{
    display: inline-block;
    color: rgb(251, 57, 61);
}

#h2-txt-memory{
    display: inline-block;
    color: #e8e8e8;
}
.header-links{
    display: block;
    height: 100%;
}

.header-links a{
    text-align: center;
    text-decoration: none;
    font-size: 14pt;
    padding-left: 20px;
    padding-right: 20px;
    color: #cccccc;
}

.header-start{
    padding-top: 20px;
}

.header-ul{
    list-style: none;
    display: flex;
}

.header-links a:hover{
    transition-duration: 0.3s;
    color: rgb(255, 94, 97);
}

.header-links a:not(:hover){
    transition-duration: 0.3s;
}

.main-information{
    width: 70%;
    margin-left: 15%;
}

.person-header{
    background-color: rgba(220, 220, 220, 0.75);
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 7%;
}

.person-header img{
    object-fit: cover;
    height: 375px;
    margin-left: 7%;
    border-bottom: solid #FF3333FF 5px;
}

.person-header h1{
    font-size: 40px;
    font-weight: bolder;
    text-align: center;
    padding: 20px 0;
    width: 60%;
    box-shadow: inset 0 -5px #FF3333FF;

}

.person-body{
    padding: 0 20px 20px;
    text-align: justify;
    background-color: rgba(220, 220, 220, 0.75);
    margin-top: 20px;
}

.person-body h3{
    font-weight: 700;
    font-size: 23px;
    padding-top: 15px;
    padding-bottom: 5px;
}

.person-body p{
    font-weight: 400;
    font-size: 16px;
}

.footer-div{
    width: 100%;
    position: relative;
    bottom: 0;
    display: flex;
    justify-content: center;
    background: #2d2d2d;
    margin-top: 20px;

}

.footer-div h3{
    font-size: 13pt;
    color: #cccccc;
    font-weight: 400;
    padding: 20px 20px;
    text-align: center;
    box-shadow: inset 0 -4px #FF3333FF;
}

.footer-div h3 span {
    color: rgb(251, 57, 61);
    font-weight: 400;
}

#fixed-footer-div{
    position: absolute;
}

@media all and (max-width: 1300px)
{
    .person-header h1{
        font-size: 30px;
    }

    .main-information{
        width: 90%;
        margin-left: 5%;
    }

    .person-body h3{
        font-size: 20px;
    }

    .person-body p{
        font-size: 15px;
    }

    .footer-div h3{
        font-size: 11pt;
    }
}

@media all and (max-width: 950px)
{
    .main-information{
        width: 100%;
        margin: 0;
    }

    .person-header{
        flex-direction: column-reverse;
    }

    .person-header img{
        margin: 0;
    }

    .person-header h1{
        width: 100%;
    }

    .header-start{
        display: none;
    }

    .back-arrow-body img {
        display: none;
    }

}

@media all and (max-width: 600px)
{
    #fixed-footer-div{
        position: absolute;
        bottom: 0;
    }

    .footer-div{
        position: absolute;
        bottom: 0;
    }

    body{
        position: relative;
        padding-bottom: 103px;
    }

    .person-header img{
        width: 100%;
    }
}