@import url('https://fonts.googleapis.com/css2?family=Roboto+Slab:wght@100;200;300;400;500;600;700;800&display=swap');

*{
    font-family: "Roboto Slab", serif;
    font-weight: 450;
    margin: 0;
    padding: 0;
}

::-webkit-scrollbar {
    width: 10px;
}

::-webkit-scrollbar-track {
    -webkit-box-shadow: 5px 5px 5px -5px rgba(34, 60, 80, 0.2) inset;
    background-color: #2d2d2d;
}

::-webkit-scrollbar-thumb {
    background-color: #737373;
    background-image: -webkit-gradient(linear, 0 0, 0 100%,
    color-stop(.5, rgba(255, 255, 255, .25)),
    color-stop(.5, transparent), to(transparent));
}

.header-links:nth-child(3)
{
    box-shadow: inset 0 -4px #FF3333FF;
    height: 49px;
}

body{
    background: #cccccc url("../img/1241qwddaw.jpg") no-repeat fixed center;
    background-size: cover;
}

.back-arrow-body{
    height: 64px;
    width: 64px;
    position: fixed;
    z-index: 2;
    padding: 5px;
}

.back-arrow-body img{
    height: 100%;
    width: 100%;
}

header{
    width: 100%;
    background: #2d2d2d;
    display: flex;
    justify-content: space-evenly;
}

.header-logo{
    font-size: 15pt;
    height: 100%;
    padding: 15px 20px;
}

#h2-txt-we{
    display: inline-block;
    color: rgb(251, 57, 61);
}

#h2-txt-memory{
    display: inline-block;
    color: #e8e8e8;
}
.header-links{
    display: block;
    height: 100%;
}

.header-links a{
    text-align: center;
    text-decoration: none;
    font-size: 14pt;
    padding-left: 20px;
    padding-right: 20px;
    color: #cccccc;
}

.header-start{
    padding-top: 20px;
}

.header-ul{
    list-style: none;
    display: flex;
}

.header-links a:hover{
    transition-duration: 0.3s;
    color: rgb(255, 94, 97);
}

.header-links a:not(:hover){
    transition-duration: 0.3s;
}

.footer-div{
    width: 100%;
    position: relative;
    bottom: 0;
    display: flex;
    justify-content: center;
    background: #2d2d2d;
    margin-top: 20px;

}

.footer-div h3{
    font-size: 13pt;
    color: #cccccc;
    font-weight: 400;
    padding: 20px 20px;
    text-align: center;
    box-shadow: inset 0 -4px #FF3333FF;
}

.footer-div h3 span {
    color: rgb(251, 57, 61);
    font-weight: 400;
}

#fixed-footer-div{
    position: absolute;
    bottom: 0;
}

.pictures{
    width: 26%;
    color: #d3d3d2;
    padding-top: 20px;

}

.pictures h3{
    background: #2d2d2d;
    width: 400px;
    text-align: center;
    padding: 5px 0;
}

.pictures img{
    width: 400px;
    object-fit: cover;
}

.pictures-caption{
    background-color: rgba(220, 220, 220, 0.75);
    width: 80%;
    margin-left: 10%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin-top: 20px;
    padding: 0 20px 20px 20px;
}

.text-caption-1939{
    background-color: rgba(220, 220, 220, 0.75);
    width: 80%;
    margin-top: 20px;
    margin-left: 10%;
    text-align: center;
    padding: 0 20px 10px;
}

.text-caption-1939 h2{
    padding: 5px 0;
    background: #2d2d2d;
    width: 100%;
    color: #d3d3d2;
}

.text-caption-1939 h3{
    padding: 5px 0;
}

.text-caption h3{
    color: black;
}

.text-caption-child-war{
    background-color: rgba(220, 220, 220, 0.75);
    width: 80%;
    margin-top: 20px;
    margin-left: 10%;

    padding: 0 20px 10px;
}

.text-caption-child-war h2{
    padding: 5px 0;
    text-align: center;
    background: #2d2d2d;
    width: 100%;
    color: #d3d3d2;
}

.text-caption-child-war h3{
    padding: 5px 0;
    text-align: justify;
}

@media all and (max-width: 1650px) {
    .pictures{
        width: 40%;
    }
}

@media all and (max-width: 1250px) {
    .pictures{
        width: 100%;
    }
}

@media all and (max-width: 800px) {
    .footer-div h3 {
        font-size: 11pt;
    }

    .header-start{
        display: none;
    }

    .pictures-caption{
        width: 100%;
        margin-left: 0;
        padding: 0;
    }

    .pictures-caption img,
    .pictures-caption h3{
        width: 100%;
    }

    .text-caption-1939{
        width: 100%;
        margin-left: 0;
        padding: 0;
    }

    .text-caption-1939 h3,
    .text-caption-child-war h3{
        font-size: 15px;
        padding: 0 10px 10px;
    }

    .text-caption-1939 h2,
    .text-caption-child-war h2{
        font-size: 20px;
    }

    .text-caption-child-war{
        width: 100%;
        margin-left: 0;
        padding: 0;
    }
}

@media all and (max-width: 635px) {
    .list-all-map {
        font-size: 21px;
        margin-left: 0;
        padding-left: 40px;
    }
    .map{
        width: 100%;
        margin-left: 0;
    }


}

@media all and (max-height: 700px) {
    #fixed-footer-div{
        position: relative;
        bottom: 0;
    }
}